In [1]:
import numpy as np
import pandas as pd

In [5]:
bond_df = pd.read_csv("jamesbond.csv")
bond_df.head(3)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

## 4.1 .set_index() and .reset_index() Methods

In [7]:
bond_df = pd.read_csv("jamesbond.csv")
bond_df.head(3)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [15]:
bond_df.reset_index(inplace=True)

In [16]:
bond_df.set_index("Film", inplace = True)

In [17]:
bond_df

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [22]:
# Need to reset index first, then set index again
bond_df.reset_index(inplace=True)
bond_df.set_index("Year", inplace=True)

In [24]:
bond_df.head(3)

             Actor       Director  Box Office  Budget  Bond Actor Salary
Year
1962  Sean Connery  Terence Young       448.8     7.0                0.6
1963  Sean Connery  Terence Young       543.8    12.6                1.6
1964  Sean Connery   Guy Hamilton       820.4    18.6                3.2

## 4.2 Retrieve Rows by Index Lable with .loc[]

In [26]:
# sort index can retrieve much faster
bond_df = pd.read_csv("jamesbond.csv", index_col="Film")
bond_df.sort_index(inplace=True)
bond_df.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [28]:
bond_df.loc["Goldfinger"]

Year                         1964
Actor                Sean Connery
Director             Guy Hamilton
Box Office                  820.4
Budget                       18.6
Bond Actor Salary             3.2
Name: Goldfinger, dtype: object

In [29]:
bond_df["Actor"]

Film
A View to a Kill                      Roger Moore
Casino Royale                        Daniel Craig
Casino Royale                         David Niven
Diamonds Are Forever                 Sean Connery
Die Another Day                    Pierce Brosnan
Dr. No                               Sean Connery
For Your Eyes Only                    Roger Moore
From Russia with Love                Sean Connery
GoldenEye                          Pierce Brosnan
Goldfinger                           Sean Connery
Licence to Kill                    Timothy Dalton
Live and Let Die                      Roger Moore
Moonraker                             Roger Moore
Never Say Never Again                Sean Connery
Octopussy                             Roger Moore
On Her Majesty's Secret Service    George Lazenby
Quantum of Solace                    Daniel Craig
Skyfall                              Daniel Craig
Spectre                              Daniel Craig
The Living Daylights               Timothy Dalton
The Man with the Golden Gun           Roger Moore
The Spy Who Loved Me                  Roger Moore
The World Is Not Enough            Pierce Brosnan
Thunderball                          Sean Connery
Tomorrow Never Dies                Pierce Brosnan
You Only Live Twice                  Sean Connery
Name: Actor, dtype: object

In [31]:
bond_df.loc["GoldenEye"]

Year                            1995
Actor                 Pierce Brosnan
Director             Martin Campbell
Box Office                     518.5
Budget                          76.9
Bond Actor Salary                5.1
Name: GoldenEye, dtype: object

In [32]:
bond_df.loc["Casino Royale"]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [35]:
bond_df.loc["Diamonds Are Forever" : "Moonraker"]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN

In [37]:
bond_df.loc[["Dr. No", "Die Another Day"]]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [39]:
bond_df.loc[["Dr. No", "Die Another Day", "Gold Bond"]]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962.0,Sean Connery,Terence Young,448.8,7.0,0.6
Die Another Day,2002.0,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Gold Bond,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
"Gold Bond" in bond_df.index

False

## 4.3 Retrieve Rows by Index Position with .iloc[]

In [46]:
# sort index can retrieve much faster
bond_df = pd.read_csv("jamesbond.csv")
bond_df.head(3)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [50]:
# with out setting index, loc and iloc are the same
bond_df.loc[15]

Film                 A View to a Kill
Year                             1985
Actor                     Roger Moore
Director                    John Glen
Box Office                      275.2
Budget                           54.5
Bond Actor Salary                 9.1
Name: 15, dtype: object

In [51]:
bond_df.iloc[15]

Film                 A View to a Kill
Year                             1985
Actor                     Roger Moore
Director                    John Glen
Box Office                      275.2
Budget                           54.5
Bond Actor Salary                 9.1
Name: 15, dtype: object

In [57]:
# sort index can retrieve much faster
bond_df = pd.read_csv("jamesbond.csv", index_col="Film")
bond_df.sort_index(inplace=True)
bond_df.head(10)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [54]:
bond_df.loc["Goldfinger"]

Year                         1964
Actor                Sean Connery
Director             Guy Hamilton
Box Office                  820.4
Budget                       18.6
Bond Actor Salary             3.2
Name: Goldfinger, dtype: object

In [56]:
bond_df.iloc[9]

Year                         1964
Actor                Sean Connery
Director             Guy Hamilton
Box Office                  820.4
Budget                       18.6
Bond Actor Salary             3.2
Name: Goldfinger, dtype: object

In [58]:
bond_df.loc[:"Goldfinger"]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [60]:
bond_df.iloc[:10]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

## 4.4 The Catch-All .ix[] Method

In [61]:
# sort index can retrieve much faster
bond_df = pd.read_csv("jamesbond.csv", index_col="Film")
bond_df.sort_index(inplace=True)
bond_df.head(10)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [62]:
bond_df.ix["Dr. No"]

Year                          1962
Actor                 Sean Connery
Director             Terence Young
Box Office                   448.8
Budget                           7
Bond Actor Salary              0.6
Name: Dr. No, dtype: object

In [63]:
bond_df.ix[["Dr. No", "Die Another Day", "Goldfinger"]]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [65]:
bond_df.ix["Dr. No" : "Goldfinger"]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [66]:
bond_df.ix[["Dr. No", "Die Another Day", "Goldfinger", "Golden Bond"]]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962.0,Sean Connery,Terence Young,448.8,7.0,0.6
Die Another Day,2002.0,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Goldfinger,1964.0,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Golden Bond,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
bond_df.ix[10]

Year                           1989
Actor                Timothy Dalton
Director                  John Glen
Box Office                    250.9
Budget                         56.7
Bond Actor Salary               7.9
Name: Licence to Kill, dtype: object

In [69]:
bond_df.ix[10:16]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6

In [72]:
bond_df.ix[[8,16]]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1

## 4.5 Second Arguments to .loc[], .iloc[] and .ix[] Methods

In [74]:
# sort index can retrieve much faster
bond_df = pd.read_csv("jamesbond.csv", index_col="Film")
bond_df.sort_index(inplace=True)
bond_df.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [79]:
# Select the column to be returned
bond_df.loc["Moonraker", ["Actor","Director","Budget"]]

Actor         Roger Moore
Director    Lewis Gilbert
Budget               91.5
Name: Moonraker, dtype: object

In [84]:
bond_df.iloc[14, [2, 5, 3]]

Director             John Glen
Bond Actor Salary          7.8
Box Office               373.8
Name: Octopussy, dtype: object

In [88]:
bond_df.ix["Casino Royale", ["Budget", "Actor", "Bond Actor Salary"]]

               Budget         Actor  Bond Actor Salary
Film
Casino Royale   145.3  Daniel Craig                3.3
Casino Royale    85.0   David Niven                NaN

## 4.6 Set new values for a specific cell or row

In [91]:
bond_df.ix["Dr. No", "Budget"] = 7.2

In [92]:
bond_df.ix["Dr. No"]

Year                          1962
Actor                 Sean Connery
Director             Terence Young
Box Office                   448.8
Budget                         7.2
Bond Actor Salary              0.6
Name: Dr. No, dtype: object

In [93]:
bond_df.ix["Dr. No", ["Budget", "Actor", "Bond Actor Salary"]] = [7, "Sir Sean Connery", 0.8]

In [94]:
bond_df.ix["Dr. No"]

Year                             1962
Actor                Sir Sean Connery
Director                Terence Young
Box Office                      448.8
Budget                              7
Bond Actor Salary                 0.8
Name: Dr. No, dtype: object

## 4.7 Set Multiple Values in DF

In [95]:
# sort index can retrieve much faster
bond_df = pd.read_csv("jamesbond.csv", index_col="Film")
bond_df.sort_index(inplace=True)
bond_df.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [96]:
bond_df

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [101]:
bond_df[bond_df["Actor"] == "Sean Connery"]["Actor"] = "Sir Sean Connery"

C:\PROGRAMDATA\ANACONDA3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [106]:
## first argument of .ix[] can be a list of boolean values
bond_df.ix[bond_df["Actor"] == "Sean Connery", "Actor"] = "Sir Sean Connery"

In [108]:
bond_df.sort_values("Year")

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sir Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sir Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sir Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sir Sean Connery,Terence Young,848.1,41.9,4.7
You Only Live Twice,1967,Sir Sean Connery,Lewis Gilbert,514.2,59.9,4.4
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Diamonds Are Forever,1971,Sir Sean Connery,Guy Hamilton,442.5,34.7,5.8
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Never Say Never Again,1983,Sir Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

## 4.8 Rename Index or Columns in a DF

In [109]:
# sort index can retrieve much faster
bond_df = pd.read_csv("jamesbond.csv", index_col="Film")
bond_df.sort_index(inplace=True)
bond_df.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [112]:
bond_df.rename(columns = {"Year": "Release Date", "Box Office": "Revenue"}, inplace = True)

In [114]:
bond_df.head(3)

,Release Date,Actor,Director,Revenue,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [115]:
bond_df.rename(index = {"Dr. No": "Doctor No"})

,Release Date,Actor,Director,Revenue,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Doctor No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [116]:
bond_df.head(1)

,Release Date,Actor,Director,Revenue,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1

In [118]:
bond_df.columns = ["Year", "Actor", "Director", "Gross", "Cost", "Salary"]

In [120]:
bond_df.head(1)

                  Year        Actor   Director  Gross  Cost  Salary
Film
A View to a Kill  1985  Roger Moore  John Glen  275.2  54.5     9.1

In [128]:
list(bond_df.columns)

['Year', 'Actor', 'Director', 'Gross', 'Cost', 'Salary']

## 4.9 Delete rows or columns from a DF

In [129]:
# sort index can retrieve much faster
bond_df = pd.read_csv("jamesbond.csv", index_col="Film")
bond_df.sort_index(inplace=True)
bond_df.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [131]:
bond_df.drop("A View to a Kill").head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8

In [132]:
bond_df.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [134]:
bond_df.drop("Box Office", axis=1).head(3)

,Year,Actor,Director,Budget,Bond Actor Salary
Film,,,,,
A View to a Kill,1985,Roger Moore,John Glen,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,85.0,NaN

In [135]:
bond_df.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [136]:
bond_df.drop(labels = ["Year", "Box Office", "Budget", "Bond Actor Salary"], axis = "columns")

                                          Actor            Director
Film
A View to a Kill                    Roger Moore           John Glen
Casino Royale                      Daniel Craig     Martin Campbell
Casino Royale                       David Niven          Ken Hughes
Diamonds Are Forever               Sean Connery        Guy Hamilton
Die Another Day                  Pierce Brosnan        Lee Tamahori
Dr. No                             Sean Connery       Terence Young
For Your Eyes Only                  Roger Moore           John Glen
From Russia with Love              Sean Connery       Terence Young
GoldenEye                        Pierce Brosnan     Martin Campbell
Goldfinger                         Sean Connery        Guy Hamilton
Licence to Kill                  Timothy Dalton           John Glen
Live and Let Die                    Roger Moore        Guy Hamilton
Moonraker                           Roger Moore       Lewis Gilbert
Never Say Never Again              Sean Connery      Irvin Kershner
Octopussy                           Roger Moore           John Glen
On Her Majesty's Secret Service  George Lazenby       Peter R. Hunt
Quantum of Solace                  Daniel Craig        Marc Forster
Skyfall                            Daniel Craig          Sam Mendes
Spectre                            Daniel Craig          Sam Mendes
The Living Daylights             Timothy Dalton           John Glen
The Man with the Golden Gun         Roger Moore        Guy Hamilton
The Spy Who Loved Me                Roger Moore       Lewis Gilbert
The World Is Not Enough          Pierce Brosnan       Michael Apted
Thunderball                        Sean Connery       Terence Young
Tomorrow Never Dies              Pierce Brosnan  Roger Spottiswoode
You Only Live Twice                Sean Connery       Lewis Gilbert

In [138]:
actor = bond_df.pop("Actor")

In [140]:
bond_df.head(3)

                  Year         Director  Box Office  Budget  Bond Actor Salary
Film
A View to a Kill  1985        John Glen       275.2    54.5                9.1
Casino Royale     2006  Martin Campbell       581.5   145.3                3.3
Casino Royale     1967       Ken Hughes       315.0    85.0                NaN

In [142]:
actor.head(3)

Film
A View to a Kill     Roger Moore
Casino Royale       Daniel Craig
Casino Royale        David Niven
Name: Actor, dtype: object

In [145]:
del(bond_df["Director"])

In [146]:
bond_df

                                 Year  Box Office  Budget  Bond Actor Salary
Film
A View to a Kill                 1985       275.2    54.5                9.1
Casino Royale                    2006       581.5   145.3                3.3
Casino Royale                    1967       315.0    85.0                NaN
Diamonds Are Forever             1971       442.5    34.7                5.8
Die Another Day                  2002       465.4   154.2               17.9
Dr. No                           1962       448.8     7.0                0.6
For Your Eyes Only               1981       449.4    60.2                NaN
From Russia with Love            1963       543.8    12.6                1.6
GoldenEye                        1995       518.5    76.9                5.1
Goldfinger                       1964       820.4    18.6                3.2
Licence to Kill                  1989       250.9    56.7                7.9
Live and Let Die                 1973       460.3    30.8                NaN
Moonraker                        1979       535.0    91.5                NaN
Never Say Never Again            1983       380.0    86.0                NaN
Octopussy                        1983       373.8    53.9                7.8
On Her Majesty's Secret Service  1969       291.5    37.3                0.6
Quantum of Solace                2008       514.2   181.4                8.1
Skyfall                          2012       943.5   170.2               14.5
Spectre                          2015       726.7   206.3                NaN
The Living Daylights             1987       313.5    68.8                5.2
The Man with the Golden Gun      1974       334.0    27.7                NaN
The Spy Who Loved Me             1977       533.0    45.1                NaN
The World Is Not Enough          1999       439.5   158.3               13.5
Thunderball                      1965       848.1    41.9                4.7
Tomorrow Never Dies              1997       463.2   133.9               10.0
You Only Live Twice              1967       514.2    59.9                4.4

## 4.10 Create Randome Sample

In [147]:
# sort index can retrieve much faster
bond_df = pd.read_csv("jamesbond.csv", index_col="Film")
bond_df.sort_index(inplace=True)
bond_df.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [150]:
bond_df.sample()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN

In [149]:
bond_df.sample(n=3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [152]:
bond_df.sample(frac=0.25)
#instead of a fixed number, use % of the total number

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN

In [162]:
bond_df.sample(n = 2, axis="columns").head(3)

                  Budget  Year
Film
A View to a Kill    54.5  1985
Casino Royale      145.3  2006
Casino Royale       85.0  1967

## 4.11 .nsmallest() and .nlargest() methods

In [166]:
bond_df.nsmallest(n = 3, columns=["Budget", "Box Office"])

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [173]:
bond_df.nlargest(n = 3, columns=["Budget"])

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5

In [174]:
bond_df.nsmallest(n=6, columns="Bond Actor Salary")

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [176]:
bond_df["Box Office"].nlargest(8)

Film
Skyfall                  943.5
Thunderball              848.1
Goldfinger               820.4
Spectre                  726.7
Casino Royale            581.5
From Russia with Love    543.8
Moonraker                535.0
The Spy Who Loved Me     533.0
Name: Box Office, dtype: float64

In [177]:
bond_df["Year"].nsmallest(2)

Film
Dr. No                   1962
From Russia with Love    1963
Name: Year, dtype: int64

## 4.12 Filtering with the where method

In [178]:
# sort index can retrieve much faster
bond_df = pd.read_csv("jamesbond.csv", index_col="Film")
bond_df.sort_index(inplace=True)
bond_df.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [180]:
mask1 = (bond_df["Actor"] == "Daniel Craig")

In [181]:
bond_df[mask1]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [184]:
bond_df.where(mask1)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,2006.0,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Diamonds Are Forever,NaN,NaN,NaN,NaN,NaN,NaN
Die Another Day,NaN,NaN,NaN,NaN,NaN,NaN
Dr. No,NaN,NaN,NaN,NaN,NaN,NaN
For Your Eyes Only,NaN,NaN,NaN,NaN,NaN,NaN
From Russia with Love,NaN,NaN,NaN,NaN,NaN,NaN
GoldenEye,NaN,NaN,NaN,NaN,NaN,NaN
Goldfinger,NaN,NaN,NaN,NaN,NaN,NaN
Licence to Kill,NaN,NaN,NaN,NaN,NaN,NaN
Live and Let Die,NaN,NaN,NaN,NaN,NaN,NaN
Moonraker,NaN,NaN,NaN,NaN,NaN,NaN
Never Say Never Again,NaN,NaN,NaN,NaN,NaN,NaN
Octopussy,NaN,NaN,NaN,NaN,NaN,NaN
On Her Majesty's Secret Service,NaN,NaN,NaN,NaN,NaN,NaN
Quantum of Solace,2008.0,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012.0,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015.0,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,NaN,NaN,NaN,NaN,NaN,NaN
The Man with the Golden Gun,NaN,NaN,NaN,NaN,NaN,NaN
The Spy Who Loved Me,NaN,NaN,NaN,NaN,NaN,NaN
The World Is Not Enough,NaN,NaN,NaN,NaN,NaN,NaN
Thunderball,NaN,NaN,NaN,NaN,NaN,NaN
Tomorrow Never Dies,NaN,NaN,NaN,NaN,NaN,NaN
You Only Live Twice,NaN,NaN,NaN,NaN,NaN,NaN

In [186]:
mask2 = bond_df["Box Office"] > 800

In [185]:
bond_df.where(bond_df["Box Office"] > 800)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Diamonds Are Forever,NaN,NaN,NaN,NaN,NaN,NaN
Die Another Day,NaN,NaN,NaN,NaN,NaN,NaN
Dr. No,NaN,NaN,NaN,NaN,NaN,NaN
For Your Eyes Only,NaN,NaN,NaN,NaN,NaN,NaN
From Russia with Love,NaN,NaN,NaN,NaN,NaN,NaN
GoldenEye,NaN,NaN,NaN,NaN,NaN,NaN
Goldfinger,1964.0,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,NaN,NaN,NaN,NaN,NaN,NaN
Live and Let Die,NaN,NaN,NaN,NaN,NaN,NaN
Moonraker,NaN,NaN,NaN,NaN,NaN,NaN
Never Say Never Again,NaN,NaN,NaN,NaN,NaN,NaN
Octopussy,NaN,NaN,NaN,NaN,NaN,NaN
On Her Majesty's Secret Service,NaN,NaN,NaN,NaN,NaN,NaN
Quantum of Solace,NaN,NaN,NaN,NaN,NaN,NaN
Skyfall,2012.0,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,NaN,NaN,NaN,NaN,NaN,NaN
The Living Daylights,NaN,NaN,NaN,NaN,NaN,NaN
The Man with the Golden Gun,NaN,NaN,NaN,NaN,NaN,NaN
The Spy Who Loved Me,NaN,NaN,NaN,NaN,NaN,NaN
The World Is Not Enough,NaN,NaN,NaN,NaN,NaN,NaN
Thunderball,1965.0,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,NaN,NaN,NaN,NaN,NaN,NaN
You Only Live Twice,NaN,NaN,NaN,NaN,NaN,NaN

In [188]:
bond_df.where(mask1 & mask2)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Diamonds Are Forever,NaN,NaN,NaN,NaN,NaN,NaN
Die Another Day,NaN,NaN,NaN,NaN,NaN,NaN
Dr. No,NaN,NaN,NaN,NaN,NaN,NaN
For Your Eyes Only,NaN,NaN,NaN,NaN,NaN,NaN
From Russia with Love,NaN,NaN,NaN,NaN,NaN,NaN
GoldenEye,NaN,NaN,NaN,NaN,NaN,NaN
Goldfinger,NaN,NaN,NaN,NaN,NaN,NaN
Licence to Kill,NaN,NaN,NaN,NaN,NaN,NaN
Live and Let Die,NaN,NaN,NaN,NaN,NaN,NaN
Moonraker,NaN,NaN,NaN,NaN,NaN,NaN
Never Say Never Again,NaN,NaN,NaN,NaN,NaN,NaN
Octopussy,NaN,NaN,NaN,NaN,NaN,NaN
On Her Majesty's Secret Service,NaN,NaN,NaN,NaN,NaN,NaN
Quantum of Solace,NaN,NaN,NaN,NaN,NaN,NaN
Skyfall,2012.0,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,NaN,NaN,NaN,NaN,NaN,NaN
The Living Daylights,NaN,NaN,NaN,NaN,NaN,NaN
The Man with the Golden Gun,NaN,NaN,NaN,NaN,NaN,NaN
The Spy Who Loved Me,NaN,NaN,NaN,NaN,NaN,NaN
The World Is Not Enough,NaN,NaN,NaN,NaN,NaN,NaN
Thunderball,NaN,NaN,NaN,NaN,NaN,NaN
Tomorrow Never Dies,NaN,NaN,NaN,NaN,NaN,NaN
You Only Live Twice,NaN,NaN,NaN,NaN,NaN,NaN

## 4.13 .query() Method

In [189]:
# sort index can retrieve much faster
bond_df = pd.read_csv("jamesbond.csv", index_col="Film")
bond_df.sort_index(inplace=True)
bond_df.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [191]:
bond_df.columns

Index(['Year', 'Actor', 'Director', 'Box Office', 'Budget',
       'Bond Actor Salary'],
      dtype='object')

In [192]:
[column_name.replace(" ", "_") for column_name in bond_df.columns]

['Year', 'Actor', 'Director', 'Box_Office', 'Budget', 'Bond_Actor_Salary']

In [194]:
bond_df.columns = [column_name.replace(" ", "_") for column_name in bond_df.columns]

In [195]:
bond_df.head(3)

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [196]:
bond_df.query("Actor == 'Sean Connery'")

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [198]:
bond_df.query("Director == 'Terence Young'")

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7

In [202]:
bond_df.query("Actor != 'Roger Moore' and Director == 'John Glen'")

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2

In [204]:
bond_df.query("Actor in ['Timothy Dalton', 'George Kazenby']")

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2

## 4.14 .apply() method on single columns

In [205]:
# sort index can retrieve much faster
bond_df = pd.read_csv("jamesbond.csv", index_col="Film")
bond_df.sort_index(inplace=True)
bond_df.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [216]:
def convert_to_string_and_add_millions(number):
    return str(number) + " Millsions"

In [218]:
bond_df["Box Office"] = bond_df["Box Office"].apply(convert_to_string_and_add_millions)

In [219]:
columns = ["Box Office", "Budget", "Bond Actor Salary"]
for col in columns:
    bond_df[col] = bond_df[col].apply(convert_to_string_and_add_millions)

In [220]:
bond_df

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275 Millsions! Millsions Millsions,54 Millsions! Millsions,9.0 Millsions! Millsions
Casino Royale,2006,Daniel Craig,Martin Campbell,581 Millsions! Millsions Millsions,145 Millsions! Millsions,3.0 Millsions! Millsions
Casino Royale,1967,David Niven,Ken Hughes,315 Millsions! Millsions Millsions,85 Millsions! Millsions,3.0 Millsions! Millsions
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442 Millsions! Millsions Millsions,34 Millsions! Millsions,5.0 Millsions! Millsions
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465 Millsions! Millsions Millsions,154 Millsions! Millsions,17.0 Millsions! Millsions
Dr. No,1962,Sean Connery,Terence Young,448 Millsions! Millsions Millsions,7 Millsions! Millsions,0.0 Millsions! Millsions
For Your Eyes Only,1981,Roger Moore,John Glen,449 Millsions! Millsions Millsions,60 Millsions! Millsions,nan Millsions! Millsions
From Russia with Love,1963,Sean Connery,Terence Young,543 Millsions! Millsions Millsions,12 Millsions! Millsions,1.0 Millsions! Millsions
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518 Millsions! Millsions Millsions,76 Millsions! Millsions,5.0 Millsions! Millsions
Goldfinger,1964,Sean Connery,Guy Hamilton,820 Millsions! Millsions Millsions,18 Millsions! Millsions,3.0 Millsions! Millsions
Licence to Kill,1989,Timothy Dalton,John Glen,250 Millsions! Millsions Millsions,56 Millsions! Millsions,7.0 Millsions! Millsions
Live and Let Die,1973,Roger Moore,Guy Hamilton,460 Millsions! Millsions Millsions,30 Millsions! Millsions,nan Millsions! Millsions
Moonraker,1979,Roger Moore,Lewis Gilbert,535 Millsions! Millsions Millsions,91 Millsions! Millsions,nan Millsions! Millsions
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380 Millsions! Millsions Millsions,86 Millsions! Millsions,nan Millsions! Millsions
Octopussy,1983,Roger Moore,John Glen,373 Millsions! Millsions Millsions,53 Millsions! Millsions,7.0 Millsions! Millsions
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291 Millsions! Millsions Millsions,37 Millsions! Millsions,0.0 Millsions! Millsions
Quantum of Solace,2008,Daniel Craig,Marc Forster,514 Millsions! Millsions Millsions,181 Millsions! Millsions,8.0 Millsions! Millsions
Skyfall,2012,Daniel Craig,Sam Mendes,943 Millsions! Millsions Millsions,170 Millsions! Millsions,14.0 Millsions! Millsions
Spectre,2015,Daniel Craig,Sam Mendes,726 Millsions! Millsions Millsions,206 Millsions! Millsions,nan Millsions! Millsions
The Living Daylights,1987,Timothy Dalton,John Glen,313 Millsions! Millsions Millsions,68 Millsions! Millsions,5.0 Millsions! Millsions
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334 Millsions! Millsions Millsions,27 Millsions! Millsions,nan Millsions! Millsions
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533 Millsions! Millsions Millsions,45 Millsions! Millsions,nan Millsions! Millsions
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439 Millsions! Millsions Millsions,158 Millsions! Millsions,13.0 Millsions! Millsions
Thunderball,1965,Sean Connery,Terence Young,848 Millsions! Millsions Millsions,41 Millsions! Millsions,4.0 Millsions! Millsions
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463 Millsions! Millsions Millsions,133 Millsions! Millsions,10.0 Millsions! Millsions
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514 Millsions! Millsions Millsions,59 Millsions! Millsions,4.0 Millsions! Millsions

## 4.15 .apply() method with Row Values

In [221]:
# sort index can retrieve much faster
bond_df = pd.read_csv("jamesbond.csv", index_col="Film")
bond_df.sort_index(inplace=True)
bond_df.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [ ]:
def good_movie(row):
    actor = row[1]
    budget = row[4]
    
    if actor == "Pierce Brosnan":
        return "The best"
    elif actor == "Roger Moore" and budget > 40:
        return "Enjoyable"
    else:
        return "No Cl"